<h1> Car overview </h1>

<h2> Cars </h2>


<button>
    Save to Database
</button>

{% for car in data_sub %}

    <p> Brand: {{ car.merk }} </p>
    <p> Model: {{ car.handelsbenaming }}</p>
    <p> Model: {{ car.catalogusprijs }}</p>

{% endfor %}